<h1>List Your Space</h1>
<h2>nycBNB lets you make money renting out your place*</h2>
<form class="create-listing" action="" method="">
  <fieldset class="home-type clearfix">
    <input
      type="radio"
      id="home-type-apartment"
      name="listing[home_type]"
      value="apartment">
    <label for="home-type-apartment">Apartment</label>

    <input
      type="radio"
      id="home-type-house"
      name="listing[home_type]"
      value="house">
    <label for="home-type-house">House</label>

    <input
      type="radio"
      id="home-type-bed-and-breakfast"
      name="listing[home_type]"
      value="bed-and-breakfast">
    <label
      for="home-type-bed-and-breakfast">
      Bed & Breakfast
    </label>

  </fieldset>

  <fieldset class="room-type clearfix">
    <input
      type="radio"
      id="room-type-entire-home"
      name="listing[room_type]"
      value="entire-home">
    <label for="room-type-entire-home">Entire home/apt</label>

    <input
      type="radio"
      id="room-type-private-room"
      name="listing[room_type]"
      value="private-room">
    <label for="room-type-private-room">Private room</label>

    <input
      type="radio"
      id="room-type-shared-room"
      name="listing[room_type]"
      value="shared-room">
    <label for="room-type-shared-room">Shared room</label>
  </fieldset>

  <label for="guest-limit">Accomodates</label>
  <select id="guest-limit" name="listing[guest_limit]">
    <% for (var i = 1; i <= 16; i++) { %>
      <option value="<%= i %>"><%= i %></option>
    <% } %>
  </select>

  <label for="price">Price-per-night</label>
  <input
    type="number"
    min="1"
    step="1"
    name="listing[price_per_night]"
    id="price"
    placeholder="$65"
    >

  <label for="street-address">Street Address</label>
  <input
    type="text"
    name="listing[street-address]"
    id="street-address"
    placeholder="123 Medow lane..."
    >

  <label for="city">City</label>
  <input
    type="text"
    name="listing[city]"
    id="city"
    placeholder="Manhattan, Brooklyn, Queens..."
    >

  <label for="state">State</label>
  <input
    type="text"
    name="listing[state]"
    id="state"
    placeholder="New York..."
    >

  <label for="zip">Zip</label>
  <input
    type="text"
    name="listing[zip]"
    id="zip"
    placeholder="10001"
    >

  <label for="title">Title</label>
  <input
    type="text"
    name="listing[title]"
    id="title"
    placeholder="Sunny 1BR in Brooklyn"
    >

  <label for="description">Description</label>
  <textarea
    type="textarea"
    rows="2"
    cols="40"
    name="listing[description]"
    id="description"
    placeholder="Sunny 1BR in Brooklyn"
    >
  </textarea>

  <button class="submit">Create Listing</button>
</form>
