<h1>List Your Space</h1>
<h2>nycBNB lets you make money renting out your place*</h2>
<form class="create-listing" action="" method="">
  <radiogroup class="room-type">
    <radio id="entire-home" label="Entire home/apt" >
    <radio id="private-room" label="Private room" >
    <radio id="shared-room" label="Shared room" >
  </radiogroup>
</form>
