<section class="photos">
<% room._photos.forEach(function(photo) { %>
  <article class="photo">
    <img src="<%=photo.small_url%>" data-id="<%=photo.id%>" alt="" />
    <button class="delete" data-id="<%=photo.id%>">Delete</button>
  </article>
<% }) %>
</section>
<form class="add-photo" action="index.html" method="post">
  <input type="file" class="photo-input" name="listing_photo[photo]" value="">
  <button class="add-photo-button"></button>
</form>
