<section class="photos clearfix">
<% photos.forEach(function(photo) { %>
  <article class="photo show-photo">
    <img src="<%=photo.get("large_url")%>" data-id="<%=photo.id%>" alt="" />
  </article>
<% }) %>
</section>
