
<form class="" action="<%= action %>" method="post">
  <%= authorize_page %>
  <label for="email">Email</label>
  <input type="text" name="user[email]" value="">
  <label for="password">Password</label>
  <input type="password" name="user[password]" value="">
  <button>Submit</button>
</form>
