
<form class="" action="<%= action %>" method="post">
  <%= authorize_page %>
  <label for="email">
  <input
    id="email"
    type="text"
    name="user[email]"
    placeholder="email"
    value="">
  </label>
  <label for="password">
  <input
    id="password"
    type="password"
    name="user[password]"
    placeholder="password"
    value="">
  </label>
  <button>Submit</button>
</form>
