<%= room.get("title") %>
<a href="#listings/<%= room.id %>"><%= room.get("city") %></a>
<button
  class="status
    <%= room.get('active') ? 'active' : 'inactive'%>
  ">
</button>
<button class="edit">Edit</button>
<button class="delete">Delete</button>
