<header class="dash-nav clearfix">
  <nav>
    <ul clearfix>
      <li><a href="#dashboard">Dashboard</a></li>
      <li><a href="#rooms">Your Listings</a></li>
      <li><a href="#">Your Trips</a></li>
    </ul>
  </nav>
</header>
