
  <article id="results-count">
  <% if (listings.listingsPerPage) { %>
    <%= (listings.listingsPerPage * (listings.currPage - 1)) + 1 %> -
    <% if (listings.totalListings > (listings.listingsPerPage * (listings.currPage))) { %>
      <%= listings.listingsPerPage * (listings.currPage) %>
    <% } else { %>
      <%= listings.totalListings %>
    <% } %>
    of <%= listings.totalListings %> Results
  <% } %>
  </article>
  <article id="previous-page">
    <% if (listings.currPage > 1)  { %>
      <button data-change="-1">
        Previous Page
      </button>
    <% } %>
  </article>
  <article id="next-page">
    <% if (listings.currPage < listings.totalPages) { %>
      <button data-change="1">
        Next Page
      </button>
    <% } %>
  </article>
