<% listings.forEach(function(listing) { %>
  <a class="result photo" data-id="<%= listing.id %>" href="#">
    <h2><%= listing.escape("title") %></h2>
      <img src="<%= listing.primaryPhoto.get("small_url") %>"/>
  </a>
<% }) %>
