<% listings.forEach(function(listing) { %>
  <a class="result photo" href="#listings/<%=listing.id%>">
    <%= listing.escape("title") %>
    <% if (listing.get("primary_photo")) { %>
      <img src="<%= listing.get("primary_photo")["small_url"] %>"/>
    <% } %>
  </a>
<% }) %>
