<form class="form" id="search-form">
  <fieldset>
    <label for="entire-place">
      Entire Place
      <input
        type="checkbox"
        id="entire-place"
        value="room-type[entire-place]">
    </label>
    <label for="private-room">
      Private Room
      <input
        type="checkbox"
        id="private-room"
        value="room-type[private-room]">
    </label>
    <label for="shared-room">
      Shared Room
      <input
        type="checkbox"
        id="shared-room"
        value="room-type[shared-room]">
    </label>
  </fieldset>
  <input type="range" name="name" value="">
  <section id="slider">
    <h5>Price Range</h5>
    <div id="price-range"></div>
    <div id="price-values clearfix">
      <input id="low-val"></input>
      <input id="high-val"></input>
    </div>
  </section>
  <button class="submit-search"></button>
</form>
