<form>
  <fieldset>
    <label for="entire-place">
      Entire Place
      <input
        type="checkbox"
        id="entire-place"
        value="room-type[entire-place]">
    </label>
    <label for="private-room">
      Private Room
      <input
        type="checkbox"
        id="private-room"
        value="room-type[private-room]">
    </label>
    <label for="shared-room">
      Shared Room
      <input
        type="checkbox"
        id="shared-room"
        value="room-type[shared-room]">
    </label>
  </fieldset>
  <label for="price-range">
    Price Range
    <input
      id="price-range"
      type="range"
      name="name"
      min: 0
      max: 1000
      value="">
  </label>
  <button class="submit-search">Search</button>
</form>
