<form id="search-form">
  <fieldset class="clearfix" id="room-type">
    <label for="entire-place">
      Entire Place
      <input
        type="checkbox"
        id="entire-place"
        name="listing[room_types][]"
        value="entire-place">
    </label>
    <label for="private-room">
      Private Room
      <input
        type="checkbox"
        id="private-room"
        name="listing[room_types][]"
        value="private-room">
    </label>
    <label for="shared-room">
      Shared Room
      <input
        type="checkbox"
        id="shared-room"
        name="listing[room_types][]"
        value="shared-room">
    </label>
  </fieldset>
  <section id="slider">
    <h5>Price Range</h5>
    <div id="price-range"></div>
    <div class="clearfix" id="price-values">
      <input class="currency" id="low-val" name="listing[low_price]"></input>
      <input class="currency" id="high-val" name="listing[high_price]"></input>
    </div>
  </section>
  <button class="submit-search"></button>
</form>
