<form id="search-form">
  <fieldset class="clearfix" id="room-type">
    <label for="entire-place">
      Entire Place
      <input
        type="checkbox"
        id="entire-place"
        name="listing[room_types][]"
        value="entire-place">
    </label>
    <label for="private-room">
      Private Room
      <input
        type="checkbox"
        id="private-room"
        name="listing[room_types][]"
        value="private-room">
    </label>
    <label for="shared-room">
      Shared Room
      <input
        type="checkbox"
        id="shared-room"
        name="listing[room_types][]"
        value="shared-room">
    </label>
  </fieldset>
  <fieldset class="date-picker clearfix">
    <label name="start_date">
    Start Date
    </label>
    <input
      type="date"
      name="listing[start_date]"
      id="start_date"
      value="<%=new Date(Date.now() + 7*24*60*60*1000).toJSON().substring(0,10)%>">
    <label name="end_date">
    End Date
    </label>
    <input
      type="date"
      name="listing[end_date]"
      id="end_date"
      value="<%=new Date(Date.now() + 10*24*60*60*1000).toJSON().substring(0,10)%>">
  </fieldset>
  <section id="slider">
    <h5>Price Range</h5>
    <div id="price-range"></div>
    <div class="clearfix" id="price-values">
      <input class="currency" id="low-val" name="listing[low_price]"></input>
      <input class="currency" id="high-val" name="listing[high_price]"></input>
    </div>
  </section>
  <button class="submit-search" id="submit-search"></button>
</form>
