#app-content {
  width:100%;
  margin:auto;
}
.rooms-container {

}
.half-page {
  width:50%;
}
#listings {
  float:left;
  display:block;
}
#detail-view {
  float:right;
}
#main-map-container {
  height:100%;
}
