.user {
  position: relative;
  margin-right: 10px;
  img {
    display:block;
    float:left;
    width:28px;
    height: auto;
    border-radius:50%;
    margin-right:5px;
  }
  .email {
    float:right;
    padding-right: 10px;
    text-decoration:none;
  }
}
.profile h1 {
  font-weight:400;
}
.user-profile {
  width:250px;
  padding: 20px;
  float:left;
  margin-top:14px;
}
.profile-photo {
  border-radius: 50%;
  width:100px;
}
.dash-container {
  position:absolute;
  top:19px;
  bottom:0;
  width:100%;
}
.dash-sub-container {
  width:800px;
  margin:auto;
  height:100%;
  overflow: auto;
}
.requests-container {
  float: right;
  height:100%;
  overflow: auto;
  width:400px;
}
.trip-container {
  border:1px solid #ccc;
  margin: 5px;
  background: #fff;
}
.trip-profile-photo {
  padding:3px;
}
.request-title {
  padding:5px 0;
  text-align:center;
}
.approved-trip {
  background: rgba(183, 177, 0, 0.35);
}
.denied-trip {
  background: rgba(183, 42, 0, 0.35);
}
.pending-trip {
  background: rgba(107, 0, 183, 0.35);
}
.listing-request-container {
  background: rgba(201, 201, 201, 0.58);
  padding:5px;
  margin-bottom:5px;
}
