.main-header {
  width: 900px;
  margin: auto;
}
.nav-left {
  float: left;
}
.nav-right {
  float:right;
}
.user-nav {
  position: relative;
  background: purple;
  display:none;
  ul {
    display:block;
    position: absolute;
    top:23px;
    left:31px;
  }

}
.user-nav a {
  float: left;
  width: 100%;
  padding: 10px;
  background: red;
}

.user:hover {
  .user-nav {
    display:block
  }
}
.right-wrapper .user {
  float: left;
}
.right-wrapper a {
  float: right;
}


.dash-nav nav {
  float: left
}
.dash-nav li {
  float:left;
}
.dash-nav a {
  padding: 10px;
}
