.main-header {
  width: 900px;
  margin: auto;
}
.nav-left {
  float: left;
}
.nav-right {
  float:right;
}

.user {
  position: relative;
}

.user a {
  padding-right: 10px;
}

.user-nav {
  display:none;
  position: absolute;
  top:0px;
  left:23px;
  padding-top:19px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}

.user-nav a {
  display:block;
  width:100%;
  text-align: right;
  padding: 10px;
  padding-left: 20px;
  background: #fff;
}
.user-nav a:hover {
  background:#f7f7f7;
}

.user:hover {
  .user-nav {
    display:block;
    height:30px;
  }
}
.right-wrapper .user {
  float: left;
}
.right-wrapper a {
  float: right;
}


.dash-nav nav {
  float: left
}
.dash-nav li {
  float:left;
}
.dash-nav a {
  padding: 10px;
}
