.home-type, .room-type {
  display:block;
}

.home-type input, .room-type input {
  float:left;
}
.home-type label, .room-type label {
  float:left;
  width:170px;
}
.create-listing textarea {
  border: 1px solid #c4c4c4;
  border-radius: 2px;
}
