.home-type, .room-type {
  display:block;
}

.home-type input, .room-type input {
  float:left;
}
.home-type label, .room-type label {
  float:left;
  width:170px;
}
.create-listing textarea {
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  position: relative;
}
.form-part-1 {
  background:white;

}
.address-details {
  z-index: -1;
  transition: top .8s;
  position: absolute;
  top:350px;
}
.hide-form {
  top: 227px;
}
.create-listing .submit {
  margin-top:10px;
  padding: 10px;
  border: 1px solid #ff5a5f;
  border-bottom-color:#e00007;
  color: white;
  background: #ff5a5f;
  border-radius:2px;
}

.disabled {
  opacity: .35;
}
