.trip-form-header {

  background-color: rgba(60,63,64,0.9);
  color:white;
  width:177px;

  .price {
    float: left;
  }
  .price-unit {
    float:right;
  }
}
.title-box {
  padding:0 20px;
  position:absolute;
  width:480px;
}
#show-photos {
  position:absolute;
  left:480px;
  padding-left:20px;
}
.about-listing {
  padding-top:30px;
}
.listing-show {
  position:absolute;
  top:0;
  bottom:0;
  overflow:auto;
  width:100%;
}
#high-light-photo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height:300px;
}
