#search-container {
  float:left;
  display:block;
  background: #ccc;
  width:50%;
  padding:20px;
  box-sizing: border-box;
  height:100%;
  overflow:auto;
}
#map-canvas {
  float:right;
  width: 50%;
  height:100%;
}
#search-form {
  width: 50%;
}
#low-val {
  width:60px;
  float:left;
}
#high-val {
  width:60px;
  text-align: right;
  float: right;
}
.search-results {
  width:630px;
}
button.submit-search::after {
  content:"Search"
}
button.submit-search.searching::after {
  content:"Searching..."
}
#room-type {
  input {
    float:left;
    background: red;
  }
}
.currency::before {
  content: "$";
}
.prev-button {
  width:127px;
  margin:0;
}
.next-button {
  margin:0;
}
#previous-page {
  float:left;
}
.pagination-nav article {
  padding:5px;
}
#results-count {
  padding-left:5px;
}
.date-picker {
  input {

  }
}
.ui-datepicker{ z-index: 3 !important;}
