#search-container {
  float:left;
  display:block;
  background: #ccc;
  width:50%;
  padding:20px;
  box-sizing: border-box;
  height:100%;
}
#map-canvas {
  float:right;
  width: 50%;
  height:100%;
}
#search-form {
  width: 50%;
}
#low-val {
  width:60px;
  float:left;
}
#high-val {
  width:60px;
  text-align: right;
  float: right;
}


button.submit-search::after {
  content:"Search"
}
button.submit-search.searching::after {
  content:"Searching..."
}
#room-type {
  input {
    float:left;
    background: red;
  }
}
.currency::before {
  content: "$";
}
