#search-container {
  float:left;
  display:block;
  background: #ccc;
}
#map-canvas {
  float:right;
  width:450px;
  height:100%;
  height:550px;
}
button.submit-search::after {
  content:"Search"
}
button.submit-search.searching::after {
  content:"Searching..."
}
