body, h1, h2, h6, section, ul, li, a,
form, textarea, label, input, button,
nav, article, div {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  font: inherit;
  color: inherit;
  background: transparent;
  height: auto;
}
ul {
  list-style: none;
}
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);
body {
  font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #565a5c;
}
input:focus, textarea:focus,
button:focus {
  outline: none;
}
a, button, .submit {
  cursor: pointer;
}
.clearfix:after {
  content: "";
  display:block;
  clear:both;
}
.hidden {
  display: none;
}
input {
  font-size:16px;
  display: block;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  color: #565a5c;
}
img {
  width:100%;
  height:auto;
  display:block;
}

html, body {
  overflow:hidden;
  height:100%;
}
body {
  position:relative;
}
