.rooms-container {
  button {
    border: 1px solid red;
    width: 100px;
    margin: 5px;
  }
  button:hover {
    background:yellow;
  }
  a {
    width:100px;
  }
}
.room-highlight-photo {
  margin:10px;
  float:right;
  width:200px;
  height:135px;
  :hover {
    background: yellow;
  }
}
.room-details {
  float:left;
}
.room-nav {
  display:block;
}
.selected {
  background: orange;
}
.photos {
  width:420px;
}
.photo:nth-child(odd) {
  float:left;
}
.photo:nth-child(even) {
  float:right;
}
.photo {
  object-fit: contain;
  overflow:hidden;
}
.photo img {
  width:200px;
  height:135px;
}
button.active:after {
  content: "deactivate"
}
button.inactive:after {
  content: "activate"
}
.add-photo-button::after {
  content: "Save photo";
}
.add-photo-button.saving::after {
  content: "Saving...";
}
.add-photo-button.saved::after {
  content: "Saved!";
}
.delete::after {
  content:"Delete"
}
.delete.deleting::after{
  content:"Deleting..."
}
