section .rooms {
  button {
    border: 1px solid red;
    width: 100px;
    margin: 5px;
  }
  a {
    width:100px;
  }
}

.room:hover {
  background: blue;
}

#active-rooms, #inactive-rooms{
  border: 1px solid black;
  margin: 50px;
  width: 400px;
}



button.active:after {
  content: "deactivate"
}

button.inactive:after {
  content: "activate"
}
.add-photo-button::after {
  content: "Save photo";
}
.add-photo-button.saving::after {
  content: "Saving...";
}
.add-photo-button.saved::after {
  content: "Saved!";
}
.delete::after {
  content:"Delete"
}
.delete.deleting::after{
  content:"Deleting..."
}
