.rooms-container {
  height:100%;
  width:100%;
  position: absolute;
  button {
    border: 1px solid red;
    width: 100px;
    margin: 5px;
  }
  a {
    width:100px;
  }
}
.rooms-list-container {
  margin-top:20px;
}
.rooms-list {
  border: 1px solid black;
  padding:10px 20px;
  margin:auto;
  width: 430px;
  h1 {
    margin-bottom:10px;
  }
}
.room {
  padding:5px;
  border:1px solid white;
  box-sizing: content-box;
}
.listing-summaries {
  position:absolute;
  top:0;
  bottom:0;
  width:480px;
  padding:10px 30px 50px 30px;
  display:block;
  overflow:auto;
}
.listing-details {
  left:600px;
  top:0;
  bottom:0;
  position: absolute;
  padding-bottom:50px;
  display:block;
  overflow:auto;
}
.add-photo {
  width:420px;
  margin:auto;
}
.room-highlight-photo:hover {
  background: yellow;
}
.room-highlight-photo {
  margin:10px;
  float:right;
  width:200px;
  height:135px;
}
.room-details {
  float:left;
}
.room-nav {
  display:block;
}
.selected {
  border:1px solid orange;
}
.photos {
  width:420px;
  margin:auto;
}
.photo:nth-child(odd) {
  float:left;
}
.photo:nth-child(even) {
  float:right;
}
.photo {
  object-fit: contain;
  overflow:hidden;
  border-radius:2px;
}
.photo img {
  width:200px;
  height:135px;
}
.delete:hover {
  bavckground:yellow;
}
.room button:hover {
  background:yellow;
}
button.active:after {
  content: "deactivate"
}
button.inactive:after {
  content: "activate"
}
.add-photo-button::after {
  content: "Save photo";
}
.add-photo-button.saving::after {
  content: "Saving...";
}
.add-photo-button.saved::after {
  content: "Saved!";
}
.delete::after {
  content:"Delete"
}
.delete.deleting::after{
  content:"Deleting..."
}
