$sign-form-width: 450px;
.sign-form {
  background: red;
  width: $sign-form-width;
  border: 2px solid #ccc;
  border-radius: 2px;
}

.sign-form {
  margin: auto;
  h1 {
    text-align: center;
    background: yellow;
    font-weight: 700;
    font-size: 64px;
  }

  form {
    padding-top:10px;
    background: orange;
    box-sizing: border-box;

  }

  input {
    margin: auto;
    margin-bottom:10px;
    width: $sign-form-width - 20px;
    font-size:16px;
    display: block;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    color: #565a5c;
  }



  input:focus {
    border-color: #aaa;
  }
}
.text-entered {
  background: #ffb400
}
