.sign-form {

  background: red;
  width: 450px;
}

.sign-form {
  margin: auto;
  h1 {
    text-align: center;
    background: yellow;
    font-weight: 700;
    font-size: 64px;
  }

  form {
    background: blue;
    box-sizing: border-box;
    margin: 25px;
  }

  label {

  }


}
