.trip-group {
  border:1px solid #ccc;
  width:800px;
  margin:auto;
  margin-bottom:5px;
}
.trip-show {
  border:3px solid black;
  margin:5px 0;
}
.trip-content {
  padding-top:15px;
  float:left;
  margin: auto;
  display: block;
  width: 550px;
  text-align: center;
}
.trip-location {
  padding:5px 0;
  font-size:20px;
}
.all-trips {
  position: absolute;
  bottom: 0;
  top: 40px;
  width: 100%;
}
.trip-container {
  height: 100%;
  overflow: auto;
}
.cancel-trip {
  margin:auto;
  margin-top:10px;
}
.deny-request::after {
  content:"Deny";
}
.approve-request::after {
  content:"Approve";
}
.traveler-details {
  float:left;
}
.request-control {
  width:250px;
  margin:auto;
  button {
    margin:auto;
    margin:5px 10px;
    float:left
  }
}
