<header>
  <nav class="nav-left">
  <img class="logo">
  <form class="search-bar">
    <input type="text" name="search-bar" value="Where are you going?">
  </form>
  </nav>
  <nav class="nav-right">
    <section class="user">
      <img class="profil-picture" src="" alt="" />
      <a href="#"><%= user.get("email") %></a>
      <nav class="user-nav">
        <ul>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Your Listings</a></li>
          <li><a href="#">Your Trips</a></li>
          <li><a href="#logout">Log Out</a></li>
        </ul>
      </nav>
    </section>
    <a href="#">List Your Space</a>
  </nav>
</header>
