<header class="main-header clearfix">
  <nav class="nav-left">
  <img class="logo">
  <form class="search-bar">
    <input type="text" name="search-bar" value="Where are you going?">
  </form>
  </nav>
  <nav class="nav-right">
    <div class="right-wrapper clearfix">
      <section class="user">
        <img class="profile-picture" src="" alt="" />
        <a href="#"><%= user.get("email") %></a>

        <ul class="user-nav">
          <li><a href="#dashboard">Dashboard</a></li>
          <li><a href="#rooms">Your Listings</a></li>
          <li><a href="#">Your Trips</a></li>
          <li><a href="#logout">Log Out</a></li>
        </ul>
      </section>

      <a id="list-your-space" href="#listings/new">List Your Space</a>
    </div>
  </nav>
</header>
