<div class="rooms-sub-container clearfix">
  <section id="listings" class="listing-summaries">
    <section id="active-rooms" class="rooms-list-container">
    </section>
    <section id="inactive-rooms" class="rooms-list-container">
    </section>
  </section>
  <section id="detail-view" class="listing-details">
  </section>
</div>
