<section id="listings" class="half-page">
  <section id="active-rooms" class="rooms-list-container">
  </section>
  <section id="inactive-rooms" class="rooms-list-container">
  </section>
</section>
<section id="detail-view" class="half-page">
</section>
