<div class="trip-container">
  <div id="approved" class="trip-group clearfix">
    <h1>Approved Trips!</h1>
  </div>
  <div id="pending" class="trip-group clearfix">
    <h1>Pending Trip Requests</h1>
  </div>
  <div id="denied" class="trip-group clearfix">
    <h1>Denied Trip Requests</h1>
  </div>
</div>
