<%listings.forEach(function(listing){%>
  <section class="request-listing">
    <%=listing.id%>hello
    <%listing.get("trips").forEach(function(trip){ %>
      <article class="request-trip">
        <%=trip%>
      </article>
    <% }) %>
  </section>
<% }) %>
