<section class="trip-details">
  <% var start = new Date(trip.get("start_date").split('-').join(','))%>
  <%= start.format('longDate') %>
  <% var end_date = new Date(trip.get("end_date").split('-').join(','))%>
  <%= end_date.format('longDate') %>
</section>
<section class="traveler-details">
  <img class="profile-photo" src="<%=traveler.get("profile_url")%>">
</section>
